.center {
  margin-left: auto;
  margin-right: auto;
}

th {
  height: 70px;
}

thead {
  color: aliceblue;
  background: rgb(10, 20, 110);
}

thead th:first-child {
  border-radius: 10px 0 0 10px;
}

thead th:last-child {
  border-radius: 0 10px 10px 0;
}

tbody td {
  padding: 2rem;
  border-bottom: 1px solid rgba(206, 193, 193, 0.5);
}

.tableWrapper {
  position: relative;
}

.tableScroll {
  height: 600px;
  overflow: auto;
}

.tableWrapper table {
  width: 100%;
}